@use './var.scss' as *;

@media (max-width: 768px) {
    .xSites-all {
        width: 100%;
        height: 100vh;
        // background-color: aliceblue;

        // background-color: #972121;

        .top {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .top-classOneMenu {
                display: flex;
                justify-content: flex-start !important;
                flex-direction: row !important;
                align-items: center;
                flex-wrap: wrap !important;
                padding: 0px !important;
                max-width: 100% !important;
                height: 100px !important;

                border-radius: 10px;
                margin: 0 auto;




                .top-classOneMenu-item {

                    font-size: 14px;
                    margin: 5px !important;
                    height: 20px;
                    min-width: 50px !important;
                    border-radius: 4px;
                    font-size: 12px !important;

                }

                // 当前选中的大类样式
                .top-classOneMenu-item.active {
                    background-color: #007bff;
                    color: #fff;
                }



            }
        }

        .main {
            width: 90%;
            // 减去顶部的高度
            height: calc(95vh - 160px);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 24px;
            color: #333333;



            .classTwoMenu {
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                border-radius: 8px;

                .classTwoMenu-item {
                    min-width: 60px;
                    height: 80%;
                    margin: 0 10px;
                    padding-bottom: 4px;
                    background-color: white;
                    font-size: 13px;
                    font-family: '优设标题黑', sans-serif;
                    color: #3e3a3a;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: end;

                    cursor: pointer;

                    border-bottom: #7fa7e0 solid 3px;




                    &:hover {


                        color: #2d7ba2;
                    }
                }

                .classTwoMenu-item.active {

                    color: #2d7ba2;
                    border-bottom: #7fa7e0 dashed 3px;
                }


            }

            .content {
                width: 100%;
                // 减去上面的高度
                // height: calc(100% - 40px);
                min-height: 50%;
                margin-top: 10px;
                border: #7eade0 dashed 2px;
                border-radius: 8px;

                padding: 20px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;

                background-color: white;



                .siteCard {
                    margin: 15px;
                    width: 225px;
                    height: 100px;
                    border: 2px white dotted;

                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 10px 20px;

                    box-shadow: 2px 2px 10px #dedede,
                        -2px -2px 10px #f8f8f8;

                    .site-info {
                        display: flex;
                        flex-direction: row;

                        .site-icon {

                            width: 40px;
                            height: 40px;
                            background-color: white;
                            border-radius: 5px;
                            padding: 2px;
                            box-shadow: 2px 2px 3px #dedede,
                                -2px -2px 3px #f7f3f3;
                        }

                        .site-title {
                            margin-left: 20px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 15px;
                            font-weight: 600;
                            font-family: 'zqk英文';

                        }

                    }

                    .site-intro {
                        margin-top: 5px;
                        height: 30px;
                        color: rgb(148, 143, 143);
                        font-size: 12px;
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                    }
                }

                .siteCard:hover {

                    border: 2px rgb(109, 188, 219) dotted;
                    background-color: white;

                    transition: all 0.6s linear;

                    box-shadow: none;

                    background-image: none;



                    .site-info {

                        transition: all 0.6s linear;

                        .site-icon {
                            width: 40px;
                            height: 40px;
                            background-color: white;
                            border-radius: 5px;
                            padding: 2px;
                            transition: all 0.6s linear;

                        }

                        .site-title {
                            color: rgb(136, 166, 226);

                            transition: all 0.6s linear;


                        }

                    }

                    .site-intro {
                        color: rgb(86, 172, 230);

                        transition: all 0.6s linear;


                    }
                }
            }

        }
    }
}