// 引入阿里巴巴图标
// @import url("//at.alicdn.com/t/c/font_4781406_yv0m9q5lb3.css");



@font-face {
    font-family: '优设标题黑';
    src: url('../font/YouSheBiaoTiHei-2.ttf');
}

@font-face {
    font-family: "zqk英文";
    src: url("../font/ZQKfreefont.ttf");
}